<div class='container'>
  <div class='row h-100 align-items-center' style='min-height: 600px'>
    <div class='col-6'>
      <div class='w-100 d-flex justify-content-center align-items-center'>
        <button class='btn btn-primary' (click)='onClickAdminPage()'>
          Go To Admin Page
        </button>
      </div>
    </div>
    <div class='col-6'>
      <div class='w-100 d-flex justify-content-center align-items-center'>
        <button class='btn btn-warning' (click)='onClickUserPage()'>
          Go To User Page
        </button>
      </div>
    </div>
  </div>
</div>
