<div class='container mt-2 '>
  <div class='row'>
    <div class='col-12 mt-2' *ngIf='isErrorOccurred'>
      <div class='alert alert-danger'>
        <p class='m-0'>{{errorMessage}}</p>
      </div>
    </div>
    <div class='col-12 mt-2' *ngIf='success'>
      <div class='alert alert-success'>
        <p class='m-0'>{{successMessage}}</p>
      </div>
    </div>
    <div class='col-12 border'>
      <div class='form-container p-4'>
        <h5>Ürün Oluştur</h5>
        <hr>
        <form [formGroup]='form'>
          <div class='form-group'>
            <label for='itemId'>Ürün Idsi</label>
            <input id='itemId' placeholder='Ürün Idsi' type='text' class='form-control' formControlName='itemId'>
          </div>
          <div class='form-group'>
            <label for='itemName'>Ürün Adı</label>
            <input id='itemName' placeholder='Ürün Adı' type='text' class='form-control' formControlName='itemName'>
          </div>
          <div class='form-group'>
            <label for='itemAmount'>Ürün Adedi</label>
            <input id='itemAmount' placeholder='Ürün Adedi' type='text' class='form-control'
                   formControlName='itemAmount'>
          </div>
          <div class='form-group'>
            <label for='itemPrice'>Ürün Fiyatı</label>
            <input id='itemPrice' placeholder='Ürün Fiyatı' type='text' class='form-control'
                   formControlName='itemPrice'>
          </div>
          <div class='form-group'>
            <button class='btn btn-primary btn-block' (click)='onSubmit()'>Gönder</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
