<div class='container'>
  <div class='row mt-2'>
    <ng-container *ngIf='products.length; else noProduct'>
      <div class='col-4 mb-2 mt-2' *ngFor='let product of products'>
        <app-product-card [product]='product' (addToCart)='onAddToCart(product)' (editProduct)='onEditProduct(product)'></app-product-card>
      </div>
    </ng-container>
    <ng-template #noProduct>
      <div class='col-12 w-100 mt-4'>
        <div class="alert alert-primary" role="alert">
          Herhangi bir ürün bulunamadı. Lütfen <span routerLink='/admin' style='cursor: pointer'>Admin panelinden</span>
          ekleme yapınız.
        </div>
      </div>
    </ng-template>
  </div>
</div>
